<div class="lang-switch">
  <button id="langDropdown" class="lang-btn" aria-haspopup="listbox" aria-expanded="false">🌐<span id="currentLang">{{ page.lang | upcase }}</span>
  </button>
  <ul id="langMenu" class="lang-menu" role="listbox" hidden>
    <li><a href="{{ page.url | replace_first:'/' , '/' }}" data-lang="en" role="option">🇬🇧 English</a></li>
    <li><a href="/vn{{ page.url | replace_first:'/en','' }}" data-lang="vn" role="option">🇻🇳 Tiếng Việt</a></li>
    <li><a href="/kr{{ page.url | replace_first:'/en','' }}" data-lang="kr" role="option">🇰🇷 한국어</a></li>
  </ul>
</div>
